public/models/*.glb filter=lfs diff=lfs merge=lfs -text
assets-src/models/*.glb filter=lfs diff=lfs merge=lfs -text
assets-src/fonts/*.ttf filter=lfs diff=lfs merge=lfs -text
assets-src/fonts/*.otf filter=lfs diff=lfs merge=lfs -text
